<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f924a851-7814-4589-a731-7fad4e7dc220" Publisher="CN=Shaohua" Version="1.0.0.1" />
  <Properties>
    <DisplayName>TilePuzzle.Windows</DisplayName>
    <PublisherDisplayName>Shaohua</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TilePuzzle.Windows.App">
      <m2:VisualElements DisplayName="TilePuzzle.Windows" Square150x150Logo="Assets\logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="TilePuzzle.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Splashpng.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>